header{
  background-color: darkorange;
}
main{
  background-color: darkgoldenrod;
}
header{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main
{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1,h2{
  text-shadow: 0in;
}
