td.bold{
    font-weight: bold;
}
td, th{
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
table{
    border-collapse: collapse;
}
td.Border-orange{
    background: orange;
    color: white;
}
td.Border-blue{
    background: blue;
    color: white;
}
td.Border-green{
    background: green;
    color: white;
}
