div{
    width: 500px;
    height: 700px;
    background: rgba(0, 46, 0, 0.377);
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
body{
    color: white;}
input#id{
    background: grey;
}
.required {
    background-color: violet;
}
input:valid,
textarea:valid,
input:in-range {
  border: 2px solid green;
}

input:invalid,
textarea:invalid,
input:out-of-range {
  border: 2px solid red;
}
button{
    background: green;
}
button:hover{
    background: rgba(0, 32, 0, 0.055);
}